@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light, night, abyss, synthwave;
}

@plugin "daisyui/theme" {
  name: "instaTheme";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(91% 0.096 180.426);
  --color-base-300: oklch(60% 0.118 184.704);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(76% 0.177 163.223);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(92% 0.084 155.995);
  --color-secondary-content: oklch(98% 0.026 102.212);
  --color-accent: oklch(69% 0.17 162.48);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(85% 0.138 181.071);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.246 16.439);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(71% 0.194 13.428);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
